/*@import 'tailwindcss';*/

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
main {
    min-height: calc(100vh - 12em);
}
.footer-content {
    background-color: rgba(0, 0, 0, 0.05);
    height: 8em;
}
.custom-form-select {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    border-color: #ced4da;
    color: #393e42;
}

.page-nav {
    gap: .5em;
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-container th:first-child,
.table-container td:first-child {
    position: sticky;
    left: 0;
    z-index: 2;        /* keep above other cells */
}
.table-container td:first-child {
    background: white;
}
.table_colspan-totaal {
    background: transparent !important;
}

.header-wrapper_action {
    margin-top: .5em;
    width: 12em;
}

 .list-item_link {
     text-decoration: none;
     color: black;
 }
 .list-item_link:hover {
     text-decoration: none;
     color: black;
 }
.list-item_action {
    padding-left: .4em;
}
